extends templates/layout.pug
include mixins/showVideo.pug

block content
    form(method="GET").search__form
        input(placeholder="Search by title", name="keyword", type="text")
        button
            i.fas.fa-magnifying-glass
    div.video-grid
        each video in videos
            +showVideo(video)
        else
            span.empty__message No videos. Upload First Video!
