extends ../templates/layout.pug

block header
    h1 #{pageTitle}

block content
    if (error)
        p #{error}
    form(method="POST")
        input(type="password" name="prev_password", placeHolder= "Password")
        input(type="password" name="new_password", placeHolder= "New Password")
        input(type="password" name="new_password_confirm", placeHolder= "New Password Confirm")
        input(type="submit", value="Edit")